appdirs==1.4.3
appnope==0.1.0
decorator==4.0.11
ipython==5.3.0
ipython-genutils==0.2.0
packaging==16.8
-e git+https://github.com/jaepil/pdfminer3k@3e3a259b0d36fc3e8a4c1554d6a2ba9693387427#egg=pdfminer3k
pexpect==4.2.1
pickleshare==0.7.4
ply==3.10
prompt-toolkit==1.0.14
ptyprocess==0.5.1
py==1.4.33
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.0.7
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
